/* .single_rest_div {
  display: flex;
  flex-direction: row;
  height: 200px;
  padding: 0;
  margin: 0;
  margin-left: 10%;
  width: 500px;
  /* background-color: pink; */
/* margin-bottom: 25px;
  border-style: solid;
  border-color: tomato;
} */
/* .rest_image_div {
  padding-top: 5px;
  padding-left: 5px;
  max-width: 120px;
  max-height: 120px;
} */
/* 
.rest_img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
} */

/* .main_resturant_div {
  align-self: center;
  margin-top: 100px;
} */

/* .single_rest_div:hover {
  cursor: progress;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/* .about {
  padding: 5px;
} */
*/

/* new */
/* 
img {
  width: 50%;
} */
#img {
  margin: "auto";
  display: "block";
  max-width: "100%";
  max-height: "100%";
  width: "128px";
  height: "128px";
}

,

/* div.polaroid {
  width: 80%;
  background-color: yellow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
} */

/* div.container {
  text-align: center;
  padding: 10px 20px;
} */

/* RATING STAR START////////// */

.rating {
  margin: 10px 0;
}

.rating i {
  display: inline-block;
  width: 0;
  /* height: star-width; */
  /* border-width: 0 ($star-width / 2); */
  border-style: solid;
  border-color: #eee;
  border-radius: 0.22em;
  color: white;
  background: #eee;
  font-style: normal;
  line-height: 0.1em;
  text-indent: -0.5em;
  text-shadow: 1px 0 1px hsl(0, 0%, 70%);
}

/** Colors */

.rating {
  margin: 10px 0;
}

.rating i {
  display: inline-block;
  width: 0;
  /* height: $star-width; */
  /* border-width: 0 ($star-width / 2); */
  border-style: solid;
  border-color: #eee;
  border-radius: 0.22em;
  color: white;
  background: #eee;
  font-style: normal;
  /* line-height: $star-width + 0.1em; */
  text-indent: -0.5em;
  text-shadow: 1px 0 1px hsl(0, 0%, 70%);
}

/** Colors */

.rating {
  margin: 10px 0;
}

.rating i {
  display: inline-block;
  width: 0;
  height: 1.5em;
  border-width: 0 0.75em;
  border-style: solid;
  border-color: #eee;
  border-radius: 0.22em;
  color: white;
  background: #eee;
  font-style: normal;
  line-height: 1.6em;
  text-indent: -0.5em;
  text-shadow: 1px 0 1px #b3b3b3;
}

/** Colors */
[data-rating^="1"] .star-1 {
  border-color: #cc8b1f;
  background: #cc8b1f;
}

[data-rating^="1.5"] .star-2 {
  border-left-color: #cc8b1f;
}

[data-rating^="2"] .star-1 {
  border-color: #dcb228;
  background: #dcb228;
}

[data-rating^="2"] .star-2 {
  border-color: #dcb228;
  background: #dcb228;
}

[data-rating^="2.5"] .star-3 {
  border-left-color: #dcb228;
}

[data-rating^="3"] .star-1 {
  border-color: #f0991e;
  background: #f0991e;
}

[data-rating^="3"] .star-2 {
  border-color: #f0991e;
  background: #f0991e;
}

[data-rating^="3"] .star-3 {
  border-color: #f0991e;
  background: #f0991e;
}

[data-rating^="3.5"] .star-4 {
  border-left-color: #f0991e;
}

[data-rating^="4"] .star-1 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-rating^="4"] .star-2 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-rating^="4"] .star-3 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-rating^="4"] .star-4 {
  border-color: #f26a2c;
  background: #f26a2c;
}

[data-rating^="4.5"] .star-5 {
  border-left-color: #f26a2c;
}

[data-rating="5"] i {
  background: #dd050b;
  border-color: #dd050b;
}

/** Print */
@media print {
  .rating {
    -webkit-print-color-adjust: exact;
  }
  .rating i {
    text-shadow: none;
  }
}
