#mid_div {
  display: flex;
  flex-direction: row;
  width: fit-content;
}
#signup_div {
  display: flex;
  flex-direction: column;
}
header {
  background-color: red;
  height: 50px;
  /* position: relative; */
  text-align: center;
}
#logo {
  width: 60px;
  height: auto;
  margin-top: 5px;
}

footer {
  position: relative;
  text-align: center;
}
#footer_img {
  width: 50%;
  height: auto;
}
