#mid_div {
  display: flex;
  flex-direction: row;
  width: fit-content;
}
#signup_div {
  display: flex;
  flex-direction: column;
}

/* #logo {
  width: 60px;
  height: auto;
  margin-top: 5px;
} */

footer {
  position: relative;
  text-align: center;
}
#footer_img {
  width: 50%;
  height: auto;
}
